@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Patrick+Hand&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/comic_art.jpg);
    width: 100%;
    height: 100%;
}

.container{
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    font-family: 'Patrick Hand', sans-serif;
}

.intro{
    position: absolute;
    background: #1d8dd3f6;
    border: 2px solid black;
    border-radius: 10px;
    background-image: url(img/bd-pop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* padding-left: 16rem; */
    
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.intro p {
    border: 1px solid black;
    font-size: 2.5rem;
    background-color: #FFFFF0;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    
}
.commencer{
    border: 1px solid black;
    border-radius: 75px;
    height: 5em;
    font-weight: 900;
    background-color: #FFFFF0;
}
.commencer:hover{
    transform: scale(1.1);
    transition: ease-in;
    background-color: #E0FFFF;
}

.top{
    /* border: 1px solid black; */
    height: 8rem;
}
.compteur{
    /* border: 1px solid black; */
    background-image: url(img/comic-bubble.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.2em;
    padding-top: 2.4em;
    display: flex;
    justify-content: center;
    /* align-items: center; */ 
}
.question{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.586);
    font-size: 2rem; 
}


/* MIDDLE */
.middle{
    /* border: 1px solid black; */
    height: 60%; 
} 
.reponseA{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-weight: 500;
    
    font-size: 1.7em;
    background-image: url(img/balloon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10rem;
}
.reponseA:hover{
    transform: scale(1.1);
}

.reponseB{
    /* border: 1px solid black; */
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-weight: 500;
    
    font-size: 1.7em;
    background-image: url(img/balloon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10rem;
}
.reponseB:hover{
    transform: scale(1.1);
}
.reponseC{
    /* border: 1px solid black; */
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-weight: 500;
    
    font-size: 1.7em;
    background-image: url(img/balloon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10rem; 
}
.reponseC:hover{
    transform: scale(1.1);
}
.reponseD{
    /* border: 1px solid black; */
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-weight: 500;
    
    font-size: 1.7em;
    background-image: url(img/balloon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10rem;
}
.reponseD:hover{
    transform: scale(1.1);
}
/*NEXT*/

/*DOWN*/
.down{
    /* border: 1px solid black; */
    height: 5rem;
    display: flex;
}
.next{
    /* border: 1px solid black; */
    border-radius: 25px;
    font-size: 2em;
}
.solution{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    color: #ffffff;
}
.points{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(img/dire-bubble.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 3em;
}
.restart{
    /* border: 1px solid black; */
    border-radius: 25px;
    font-size: 2em;
}


